<script src="https://giscus.app/client.js"
        data-repo="wollmannbruno/blog"
        data-repo-id="R_kgDOHkkpgg"
        data-category="Announcements"
        data-category-id="DIC_kwDOHkkpgs4C5XEr"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
